<header class="app-header">
  <div class="container">
    {{#link-to 'playces' class='logo'}}Pla<span>y</span>ces{{/link-to}}
  </div>
</header>

{{view App.MapView}}

<div class="container">
  {{outlet}}
</div>
